* {
  font-family: 'Source Sans Pro'
}

body {
  background-image: url('/images/squairy_light_@2X.png');
  padding-bottom: 100px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: #66757f;
}

a:visited {
  color: #66757f;
}

a:hover {
  color: #333;
  text-decoration: none;
}

.prof-pic img {
  border-radius: 50%;
}


.rest-selec {
  float: left;
}
/*
input[type=checkbox]:checked ~ div {
  border: 1px solid red;
}

input ~ {
  border: 1px solid blue;
}*/

.submit {
  clear: both;
}

/* */
.thumb{
  width: 300px;
  height: 300px;
  float: left;
  margin-left: 50px;
}

.img {
  border-radius: 50%;
}

/*input.chk{
  margin-left: 0px;
  display: inline-block;*/
/* */


footer {
  color: #eee;
  background-color: rgba(10, 10, 10, 0.8);
  height: 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#copyright {
  color: #aaa;
  padding: 4px;
  padding-right: 10px;
  float: right;
}

.jumbotron {
  color: #ccc !important;
  padding: 30px;
  background-color: rgba(50,50,50, 0.6) !important;
}

/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.divtop {
  margin-top: 30px;
}

.smalldivtop {
  margin-top: 15px;
}

.divbot {
  margin-bottom: 20px;
}

.divleft {
  padding-right: 20px
}

.right {
  float: right !important;
}

.small-container {
  color: #222;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.list-heading {
  color: #222;
  padding-bottom: 10px;
  font-size: 2em;
  border-bottom: 1px solid #ccd6dd;
}

.group-name {
  font-size: 1.6em;
}

.events-listing-heading {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.event-form {
  width: 50%;
  margin: 0 auto;
}

.event-heading {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.medium-wrapper {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.fifty-center {
  width: 50%;
  margin: 0 auto;
}

#event-search {
  display: inline-block;
  text-align: center;
  float: right;
}

#event-index-heading {
  margin-top: 25px;
  display: inline-block;
  margin-right: 50px;
  text-align: center;
}

.group-show-heading {
  display: inline;
  margin-right: 20px;
}

.edit-form {
  display: inline;
}

.group-section {
  border-bottom: 1px solid #ccd6dd;
}


.panel-heading {
  background-color: #101010 !important;
  background-image: none !important;
}

.panel-heading a {
  color: #ccc;
}

.panel-heading a:hover {
  color: white;
}

.main {
  display:none;
}

#profile-photo {
  border-radius: 100%;
  border: 1px solid #101010;
}

.small-wrapper {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 20px;
}

#myVid {
  min-width: 100%;
  min-height: auto;
}

#myVid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url('freeway.jpg') no-repeat;
  background-size: cover;
}

.center {
  margin: 0 auto;
  text-align: center;
  padding: 0
}
