body {
  background-image: url('/images/halftone.png');
  padding-bottom: 100px;
}

li {
  list-style: none;
}

.prof-pic img {
  border-radius: 50%;
}


.rest-selec {
  float: left;
}

input[type=checkbox]:checked ~ div {
  border: 1px solid red;
}

input ~  {
  border: 1px solid blue;
}

.submit {
  clear: both;
}

/* */
.thumb{
    width: 300px;
    height: 300px;
    float: left;
    margin-left: 50px;
}

.img {
  border-radius: 50%;
}

input.chk{
  margin-left: 0px;
  display: inline-block;
/* */


footer {
  color: #eee;
  background-color: #222;
  height: 60px;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#copyright {
  float: right;
}

.jumbotron {
  color: #ccc !important;
  padding: 30px;
  background-color: rgba(50,50,50, 0.6) !important;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.divtop {
  margin-top: 30px;
}

.smalldivtop {
  margin-top: 15px;
}

.divbot {
  margin-bottom: 20px;
}

.divleft {
  padding-right: 20px
}
