body {
  background-image: url('/images/halftone.png');
  padding-bottom: 100px;
}

li {
  list-style: none;
}

.prof-pic img {
  border-radius: 50%;
}


footer {
  color: #eee;
  background-color: #222;
  height: 60px;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#copyright {
  float: right;
}

.jumbotron {
  color: #ccc !important;
  padding: 30px;
  background-color: rgba(50,50,50, 0.6) !important;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.divtop {
  margin-top: 30px;
}