<h1>Edit Your Group</h1>
<form method='post' action='/groups'>
  <input type='hidden' name='_method' value='put'/>
  <input type='text' name='name' placeholder='<%= group.name%>' />
  <input type='text' name='members' placeholder='' />
  <input type='submit' value='Edit Group' />
</form>