<h1>Create a New Group</h1>


<form id="group_form" method='post' action='/groups'>
  <input type='text' name='name' placeholder='group name' />
  <input type='text' id="user_search" placeholder='type member names seperated by comas here' />
  <input type='hidden' id="user" name='members[]' />
  <input type="button" id="add_user_btn" onclick="javascript:addUser()" value="add user" />
  <input type='submit'  value='Create Group' />
</form>

<script type="text/javascript">

function addUser(){
	form = $("#group_form input");
	count = form.length
	name_id = "user_search_" + count;
	value_id = "user_" + count;
	name = "<input type='text' id='" + name_id + "' placeholder='type member names seperated by comas here' />";
 	value = "<input type='hidden' id='" + value_id + "' name='members[]' />";
 	$("#add_user_btn").before(name + value);
 	setClientAutoCompleteField(name_id,value_id,<%= users %>);
}

function setClientAutoCompleteField(fieldID,valueFieldID,options){

	fieldID = '#'+fieldID;
	valueFieldID = '#' + valueFieldID;
	var optionArray = options; //jQuery.parseJSON(options);
	for(var i = 0; i < optionArray.length; i++){
		var label = optionArray[i].name + " " + optionArray[i].email;
		optionArray[i]['value'] = label;	
	}

	$( fieldID ).autocomplete({
      minLength: 0,
      source: optionArray,
      focus: function( event, ui ) {
      	var label = ui.item.name;      							
      	$( fieldID ).val( label);
        return false;
      },
      select: function( event, ui ) {
      	var label = ui.item.name;
      	$(fieldID).val( label);
      	$(valueFieldID).val( ui.item.id);
      	    	
        return false;
     }
    })
    .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
    	var label = item.name;
      return $( "<li>" )
        .append( "<a>" + label + "</a>" )
        .appendTo( ul );
    };    
}

setClientAutoCompleteField('user_search','user',<%= users %>);

</script>
