<h1>Create a New Group</h1>
<form method='post' action='/groups'>
  <input type='text' name='name' placeholder='group name' />
  <input type='text' name='members' placeholder='type member names seperated by comas here' />
  <input type='submit' value='Create Group' />
</form>