<div class='groupContainer'>
	<p class='group-name'><a href='/group/<%= group.id %>'><%= group.name %></a><p>
  <% if group.events.count > 0 %>
  <p class='events-listing-heading'>EVENTS</p>
	<ul>
		<% group.events.each do |event| %>
			<li><a href='/event/<%= event.id %>'><%= event.title %></a  ></li>
		<% end %>
	</ul>
  <% end %>
</div>