<div class="small-wrapper center">
  <h1 class='text-center'>All Users</h1>
  <div class='panel panel-default'>
    <% if params[:updated] %>
      <p>Your account has been updated</p>
    <% elsif params[:error] == 'ua' %>
      <p>Access Denied</p>
    <% end %>

    <ul class="list-group">
      <% users.each do |user| %>
        <li class='list-group-item'><a href='/users/<%= user.id %>'><%= user.name %></a></li>
      <% end %>
    </ul>
  </div>
</div>
