<div class="small-wrapper center">
  <div class='panel panel-default'>
    <% if params[:updated] %>
      <p>Your account has been updated</p>
    <% elsif params[:error] == 'ua' %>
      <p>Access Denied</p>
    <% end %>

    <h2 class='list-heading'>All Users</h2>
    <ul>
      <% users.each do |user| %>
        <li class='list-heading'><a href='/users/<%= user.id %>'><%= user.name %></li>
      <% end %>
    </ul>
  </div>
</div>
