<div class="container">
  <div class="row" >
    <h2> Type in your password to delete account </h2>
    <form method="post" action='/users/<%= logged_user.id %>/delete '>
      <input type="hidden" name="_method" value="delete">
      <input type="password" name="password" placeholder='password'>
      <input type='submit' value='Delete'/>
    </form>
    <form method="get" action='/users/<%= logged_user.id %>/edit'>
      <input type='submit' value='Back'/>
    </form>
  </div>
</div>
