<div class='small-container'>
	<div class='row'>
		<h2 class='list-heading'>Groups you are organizing</h2>
	</div>

	<% organized_groups.each do |group| %>
		<%= erb :"users/_user_groups", locals: {group: group} %>
	<% end %>

	<div class='row'>
		<h2 class='list-heading'>Groups you are in</h2>
	</div>

	<% groups.each do |group| %>
		<%= erb :"users/_user_groups", locals: {group: group} %>
	<% end %>
</div>