<div class='medium-wrapper'>
  <div class="row">
    <h2 class='list-heading'>Groups you are organizing</h2>
  </div>
  <div class="row">
    <% organized_groups.each do |group| %>
    	<%= erb :"users/_user_groups", locals: {group: group} %>
    <% end %>
  </div>

  <div class='row'>
  	<h2 class='list-heading'>Groups you are in</h2>
  </div>

  <div class="row">
    <% groups.each do |group| %>
    	<%= erb :"users/_user_groups", locals: {group: group} %>
    <% end %>
  </div>
</div>