<div class="container">
<form action="/entries/create" method="post">
    <h3>Create an Account<h3> <br>
    Your Name: <input type="string" name="name" placeholder="Name Here"> <br>
    Your Email: <input type="text" name="email" placeholder="Email Here"> <br>
    Your Password: <input type="password" name="password" value="Password Here"><br>
    <input type="submit" value="Create Account">
  </form>
</div>
