<div class="medium-wrapper">

	<div class="row">
			<h2 id="event-index-heading">List of events</h2>
			<form id='event-search' action="/events" method="get" class="form-inline divtop" >
				<div class="form-group">
					<input type="text" name="search" placeholder="Event title" class="form-control" />
				</div>
				<div class="form-group">
					<input type="submit" value="search"  class="form-control" />
				</div>
			</form>
	</div>
	<hr>

	<div class='col-md-12'>
		<div class="list-group">
			<% events.each do |event| %>
				<a class="list-group-item text-center" href="/event/<%= event.id %>" ><%= event.title %></a>
			<% end %>
		</div>
	</div>
</div>
