<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="/css/normalize.css">

  <script src="js/vendor/modernizr.js"></script>
  <!--
    application.css is where you put your styles
  -->


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<header>
    <a href='/'>Home</a><a href='/groups/new'>Create Group</a>
    <a href='/events/new'>Create Event</a>
    <a href='/users/<%= session[:user_id] %>'>Your Profile</a>
    <% if !session[:user_id] %>
    <form method="get" action='/users/create'>
      <input type='submit' value='Create Account'/>
    </form>
      <form method="post" action="/session">
        <label for="Login">Sign in</label>
        <input name="email" type="text" placeholder="email"/>
        <input name="password" type="password" placeholder="password"/>
        <input type='submit' value='login' />
      </form>
    <% else %>
      <form method="post" action="/session/end">
        <input type='submit' value='logout' />
      </form>
    <% end %>
</header>

<body>
  <%= yield %>
</body>
</html>
